<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="modal-user-show">

    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" th:text="${usuario.nome}">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">

                    <p th:if="${usuario.foto != null}">
                        <img th:src="@{'/uploads/' + ${usuario.foto.fileName}}" alt="" width="100px" height="100px" />
                    </p>

                    <p>
                        <strong>Login:</strong>
                        <span th:text="${usuario.login}"></span>
                    </p>

                    <p>
                        <strong>Email:</strong>
                        <span th:text="${usuario.email}"></span>
                    </p>

                    <p>
                        <strong>Data de Nascimento:</strong>
                        <span th:text="${#temporals.format(usuario.dataNascimento, 'dd/MM/yyyy')}"></span>
                    </p>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        $(document).ready(function(){
            new bootstrap.Modal($("#myModal")).show()
        });
    </script>

</div>

</body>
</html>