version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - database
    entrypoint: ["./wait-for-it.sh", "database:5432", "--","java", "-jar", "app.jar"]
    ports:
      - "${SERVER_PORT}:${SERVER_PORT}"
    env_file: .env

  database:
    image: postgres:14.2-alpine
    volumes:
      - db_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${POSTGRES_DB_NAME}
      POSTGRES_HOST_AUTH_METHOD: trust
    ports:
      - "${POSTGRES_PORT}:5432"

  # Mailhog: mail catcher for local debugging
  mailhog:
    image: mailhog/mailhog
    ports:
      - 1025:1025 # SMTP server ports
      - 8025:8025 # Web UI ports

volumes:
  db_data:
