version: '3.4'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    command: java -jar /app.jar
    depends_on:
      - database
    ports:
      - "${SERVER_PORT}:${SERVER_PORT}"
    env_file: .env

  database:
    image: postgres:9.6
    volumes:
      - db_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${POSTGRES_DB_NAME}
      POSTGRES_HOST_AUTH_METHOD: trust
    ports:
      - "5433:5432"

volumes:
  db_data: