<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{layouts/layout}">
<head>
  <title>Usuarios</title>
</head>
<body>

  <div layout:fragment="content">

    <h3 class="text-center mt-4">Lista de Usuários</h3>
       
    <div class="bg-light p-5 rounded mt-3">

      <a th:href="@{/usuarios/new}" class="btn btn-primary btn-circle mb-4">Novo Usuário</a>

      <table class="table table-hover">
        <thead>
          <tr>
            <th class="text-center" scope="col">Nome</th>
            <th class="text-center" scope="col">Login</th>
            <th class="text-center" scope="col">Email</th>
            <th class="text-center" scope="col">Data de Nascimento</th>
            <th colspan="2"></th>
          </tr>
        </thead>

        <tbody>
          <tr th:each="_usuario : ${usuarios}">
            <td class="text-center" th:text="${_usuario.nome}"></td>
            <td class="text-center" th:text="${_usuario.login}"></td>
            <td class="text-center" th:text="${_usuario.email}"></td>
            <td class="text-center" th:text="${#temporals.format(_usuario.dataNascimento, 'dd/MM/yyyy')}"></td>
            <td class="d-flex">
              <button type="button" class="btn btn-success btn-sm btn-circle btn-user-show" th:data-user-id="${_usuario.id}"><i class="bi bi-search"></i></button>
              
              <form th:action="@{/usuarios/{id}(id=${_usuario.id})}" th:method="delete">
                <button type="submit" class="btn btn-danger btn-sm btn-circle btn-user-delete" th:data-user-id="${_usuario.id}"><i class="bi bi-trash"></i></button>
              </form>

            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Modal -->
    <div id="modal-user-show"></div>

    <script th:inline="javascript">
      $(document).ready(function(){
      
        $(".btn-user-show").click(function(){
          $("#modal-user-show").load(`/usuarios/${$(this).data('user-id')}`)
        });

        $(".btn-user-delete").click(confirmDelete);

        function confirmDelete(event){
          event.preventDefault();
  
          const opts = {
            title: "Confirmação",
            message: "Deseja realmente exlcuir o usuário?",
            buttons: {
                confirm: {
                    label: 'Sim',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'Não',
                    className: 'btn-danger'
                }
            },
            callback: function(result) {
              if (result) {

                $.ajax({
                  url: `/usuarios/${$(".btn-user-delete").data('user-id')}`,
                  type: 'DELETE',
                  beforeSend : function(xhr){
                    xhr.setRequestHeader('[(${_csrf.headerName})]', '[(${_csrf.token})]');
                  }
                })
                .done(function(msg){
                  location.reload(true);
                })
                .fail(function(jqXHR, textStatus, msg){
                  alert(msg);
                });

              }
            }
          };
    
          bootbox.confirm(opts);
        }        
      });
    </script>

  </div>
 
</body>
</html>