<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{layouts/layout}">
<head>
  <title>Usuarios</title>
</head>
<body>

  <div layout:fragment="content">

    <h3 class="text-center mt-4">Lista de Usuários</h3>

    <div th:if="${flash}" class="alert alert-success alert-dismissible fade show" role="alert">
      Usuário '<strong><span th:text="${flash.nome}"></span></strong>' cadastrado com sucesso.
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
       
    <div class="bg-light p-5 rounded mt-3">

      <a th:href="@{/usuarios/new}" class="btn btn-primary btn-circle mb-4">Novo Usuário</a>

      <table class="table table-hover">
        <thead>
          <tr>
            <th class="text-center" scope="col">Nome</th>
            <th class="text-center" scope="col">Login</th>
            <th class="text-center" scope="col">Email</th>
            <th class="text-center" scope="col">Data de Nascimento</th>
            <th colspan="2"></th>
          </tr>
        </thead>

        <tbody>
          <tr th:each="_usuario : ${usuarios}">
            <td class="text-center" th:text="${_usuario.nome}"></td>
            <td class="text-center" th:text="${_usuario.login}"></td>
            <td class="text-center" th:text="${_usuario.email}"></td>
            <td class="text-center" th:text="${#temporals.format(_usuario.dataNascimento, 'dd/MM/yyyy')}"></td>
            <td>
              <button type="button" id="mybt" class="btn btn-success btn-sm btn-circle" data-id="${_usuario.id}" th:onclick="getUsuario(${_usuario.id})" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-search"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <!-- <div th:replace="usuarios/show :: modal-user"></div> -->
      <div id="teste"></div>
    </div>

    <script th:inline="javascript">
      $(document).ready(function(){
        $("#mybt").click(function(){
          console.log("teste javascript");
        });
      });
      // function getUsuario(id){
      //   let url = `/usuarios/${id}`;
      //   $("#teste").load(url);
      // }
    </script>

  </div>
 
</body>
</html>