server:
  port: ${env.SERVER_PORT}
  error:
    include-message: always

spring:
  profiles:
    active: ${env.ACTIVE_PROFILE:development}
  servlet:
    multipart:
      location: ./src/main/public/uploads

logging:
  level:
    org:
      springframework:
        web:
          servlet:
            DispatcherServlet: debug
      hibernate: error

jwt:
  secret: ${env.API_TOKEN_SECRET}
  expiration: 30

---

spring:
  config:
    activate:
      on-profile: ${env.ACTIVE_PROFILE:development}
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://${env.POSTGRES_HOST}:${env.POSTGRES_PORT}/${env.POSTGRES_DB_NAME}
    username: ${env.POSTGRES_USER}
    password: ${env.POSTGRES_PASSWORD}
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    hibernate:
      ddl-auto: create-drop
  thymeleaf:
    cache: false
  web:
    resources:
      static-locations: ${project.base-dir}/src/main/resources/static/
      cache:
        period: 0
  devtools:
    restart:
      additional-exclude: uploads/**

---

spring:
  config:
    activate:
      on-profile: ${env.ACTIVE_PROFILE:production}
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://${env.POSTGRES_HOST}:${env.POSTGRES_PORT}/${env.POSTGRES_DB_NAME}
    username: ${env.POSTGRES_USER}
    password: ${env.POSTGRES_PASSWORD}
    tomcat:
      initial-size: 3
      max-idle: 10
      min-idle: 5
      time-between-eviction-runs-millis: 35000
      validation-query: SELECT 1
      test-on-borrow: true
      remove-abandoned: true
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    hibernate:
      ddl-auto: update
  thymeleaf:
    cache: true

---

spring:
  config:
    activate:
      on-profile: test
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:testedb;DB_CLOSE_DELAY=-1
    username: sa
    password:
  h2:
    console:
      enabled: true
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    show-sql: true
    hibernate:
      ddl-auto: create-drop