spring:
  profiles:
    active: development

server:
  error:
    include-message: always

logging:
  level:
    org:
      springframework:
        web:
          servlet:
            DispatcherServlet: debug

jwt:
  secret: meu_segredo
  expiration: 30

---

spring:
  config:
    activate:
      on-profile: development
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:testedb
    username: sa
    password:
  h2:
    console:
      enabled: true
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    show-sql: true
    hibernate:
      ddl-auto: update

---

spring:
  config:
    activate:
      on-profile: test
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:testedb
    username: sa
    password:
  h2:
    console:
      enabled: true
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    show-sql: true
    hibernate:
      ddl-auto: create-drop

---

spring:
  config:
    activate:
      on-profile: production
  datasource:
    driver-class-name:
    url: 
    username: 
    password:
  jpa:
    database-platform: 
    show-sql: true
    hibernate:
      ddl-auto: update