<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{layouts/layout}"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
</head>
<body>

    <div layout:fragment="content">
   
        <div class="bg-light p-5 rounded mt-3">

          <h3>Área Administrativa.</h3>
          
          <p class="lead">
            Olá <strong><span th:text="${#authentication.getPrincipal().getNome()}"></span></strong></span>!
          </p>
          
        </div>
    </div>
    
</body>
</html>