<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{layouts/layout}">
<head>
  <title>Home Page</title>
</head>
<body>

  <div layout:fragment="content">

    <div class="bg-light p-5 rounded mt-3">
      <h1><span th:text="${applicationName}"></span></h1>

      <p class="lead">
        Hello <strong><span sec:authentication="name"></strong></span>!
        Welcome to the Spring Boot Quickstart application!
        <span th:text="${#locale.country}"></span>
      </p>

      <p class="lead">
        This example is a exercise to build a web application using spring boot framework.
      </p>
      <!-- <a class="btn btn-lg btn-primary" href="/docs/5.0/components/navbar/" role="button">View navbar docs »</a> -->
    </div>
  </div>

</body>
</html>