<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <p><span th:text="${message}"></span></p>
    <div sec:authorize=”isAuthenticated()”>
        <p><span th:text="${#authentication.getPrincipal().getNome()}"></span></p>
    </div>
</body>
</html>